.admin-login {
  height: 100vh;
  padding: 0.5rem;
  position: relative;
}

.admin-login__container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: inherit;
  position: absolute;
  width: 100%;
  max-width: 350px;
}
.loginForm {
  background-color: var(--red);
  width: 100%;
  padding: 2rem;
  color: var(--white);
  border-radius: 1rem;
}

.loginForm__login-title {
  text-align: center;
}

.loginForm input {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.3rem;
}

.loginForm label {
  font-size: 1.2rem;
}
