.main {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-block: 70px;
  padding-block: 1rem;
  background-color: var(--red);
  text-align: center;
  border-radius: 1rem; 
}

.main__header {
  color: var(--white);
}

#price {
  position: absolute;
  right: 0;
  color: var(--black);
  font-size: 1.3rem;
}

.main__subtitle {
  font-size: 1.4rem;
}

.main__header > .main__title, .main__subtitle {
  margin: 1rem 0;
}

.foodOptionsForm__order-btn--hover:hover {
  background-color: var(--yellow-light);
}

.foodOptionsForm__lunch-size {
  display: flex;
  justify-content: center;
  margin-bottom: 0.7rem;
}

.foodOptionsForm__lunch-size label {
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  font-size: 1.1rem;
}

.foodOptionsForm__lunch-size input {
  cursor: pointer;
  transform: scale(1.8);
  margin-inline: 1rem;
  margin-bottom: 0.4rem
}