.header {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 60px;
  top: 0;
  border-radius: 0 0 1rem 1rem;
  padding: 0 0.5rem;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin-inline: auto;
}

.trembao {
  width: 55px;
  transition: transform 0.3s ease-in-out;
}

.trembao:hover {
  transform: scale(1.1);
}

.header__logo-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.8rem;  
  font-family: 'libre_baskervillebold';
  text-decoration: none;
  color: var(--red);
  text-align: center;
}

.header__logo-title span {
  display: block;
}

.header__logo-title:hover {
  
  transform: scale(1.1);
}

@media screen and (min-width: 628px) {
  .header {
  left: 50%;
   transform: translateX(-50%);
   width: 600px;
  }
}