.form {
  color: var(--white);
  text-align: start;
  width: 100%;
  max-width: 500px;
  background-color: var(--red);
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.form__container {
  position: relative;
}

.form .form-group label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.form .form-group label input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.form .form-group .error-msg {
  font-size: 1rem;
  color: var(--yellow);
  margin-top: 0.3rem;
  display: none;
}

.form .form-group input:invalid[focused="true"] ~ span {
  display: block;
}

.form__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  width: 30px;
  cursor: pointer;
}

.form__close-btn:hover {
  transform: scale(1.2);
}
